
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Big Noodle Titling';
  src: url('./fonts/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Couture';
  src: url('./fonts/couture-bld.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('./fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  font-family: "Big Noodle Titling", sans-serif;
}


body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  
  .nav-link {
    @apply text-2xl sm:text-4xl;
    transition: text-shadow 0.3s ease-in-out; /* Add transition property */
  }
  
  .nav-link:hover {
    text-shadow: 0 0 25px rgba(130, 188, 255, 0.8);
  }

  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-cocogoose;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-cocogoose;
  }

  @keyframes rainbowAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 0%;
    }
  }
  
  .rainbow-gradient_text {
    @apply bg-gradient-to-r from-[#4882ff] via-[#ffffff] via-[#ffffff] via-[#8f00ff] to-[#4882ff] bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: rainbowAnimation 3s linear infinite;
  }
  
  
  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-7 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 mx-auto absolute top-0 bg-transparent z-10 right-0 left-0 bg-neutral-900;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-blue-100 flex-1 text-3xl max-md:text-center font-cocogoose;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #001a38;
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #5db0ff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-containerr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 13rem;
  width: auto;
  
}

.block-containerr .btn-frontt:hover {
  transform: scale(1.05); /* Slightly enlarge the container */
  box-shadow: 0 0 20px 5px rgb(122, 191, 255); /* Add a white glow effect */
}

.block-containerr .btn-frontt {
  background-color: #a0a0a033;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: center; /* Change to center for scaling from the center */
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 25px;
}

.image {
  display: block;
  width: 100%;
  max-height: 13rem;
  object-fit: contain;
  border-radius: 5px;
}

body {
  background-color: #00060c;
}


.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-backk {
  transform: translateZ(10px) rotateZ(5deg) rotateX(-10deg) rotateY(-10deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

.block-container:hover > .btn-frontt {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #171717; 
  position: relative;
  border-radius: 10px;
  border: #67c2ff;
  box-shadow: 0.6vmin 0.6vmin #252525;
}

.neo-brutalism-white {
  background: #67c2ff;
  box-shadow: 0.6vmin 0.6vmin #252525;
}

